Source: electric-fence
Section: devel
Priority: extra
Maintainer: Debian QA Group <debian-qa@lists.debian.org>
Standards-Version: 2.1.2.2

Package: electric-fence
Architecture: any
Description: A malloc(3) debugger
 Use virtual memory hardware to detect illegal memory accesses.

